
.slds-text-heading_medium {
    text-transform: uppercase;
    display: inline-block;
    letter-spacing: .2rem;
    transition: all .2s;
    color: #7ed56f ;
}
.slds-text-heading_medium:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.4);
}
.popup__text {
    column-count: 2;
    column-gap: 2rem;
    column-rule: 1px solid #eee;
}

.slds-text-message{
    text-transform: uppercase;
}
.slds-text-message:hover{
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.4);
    font-size: large;
    letter-spacing: .2rem;
}
